[submodule "Samples/Externals/TouchJSON"]
	path = Samples/Externals/TouchJSON
	url = git://github.com/touchcode/TouchJSON.git
[submodule "Samples/Externals/TouchFoundation"]
	path = Samples/Externals/TouchFoundation
	url = git://github.com/touchcode/TouchFoundation.git
